<h1>Password Generator</h1>

<div id="content">
<p id="description" class="twocol">Simple:</p>
<p id="newpass" class="twocol"><%= @simple %></p>
<br/>
<p id="description" class="twocol">Medium:</p>
<p id="newpass" class="twocol"><%= @medium %></p>
</div>
