<html>
  <head>
    <title>Password Generator &mdash; <%= controller.action_name.titleize %></title>
    <%= stylesheet_link_tag "screen", :media => "screen" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
